Repository mikhailprivalov/l2, pull requests merged in 2020-09, with the labels that each got.

#744 измены номера ш/к + изменана категори на "Планова госпитализация"
  directions/forms/forms381.py
Labels: backend

#756 Ш/к в направление
  directions/forms/forms380.py
Labels: backend

#753 Bac direction group
  .flake8
  .github/workflows/lint.yml
  api/directions/views.py
  api/views.py
  construct/templates/construct_directions_group.html
  construct/views.py
  directions/forms/forms380.py
  directions/views.py
  directory/models.py
  directory/views.py
  l2-frontend/src/main.scss
  l2-frontend/src/pages/DirectionVisit.vue
  l2-frontend/src/pages/ResultsParaclinic.vue
  mainmenu/templates/dashboard/get_biomaterial.html
  mainmenu/templatetags/setting_l2.py
  mainmenu/views.py
  receivematerial/views.py
Labels: backend, frontend

#757 Штирих-коды
  barcodes/views.py
  l2-frontend/src/main.js
  l2-frontend/src/pages/DirectionVisit.vue
  l2-frontend/src/pages/ResultsParaclinic.vue
Labels: backend, frontend

#759 Fixes
  l2-frontend/src/pages/DirectionVisit.vue
  l2-frontend/src/pages/ResultsParaclinic.vue
Labels: frontend

#761 Medical certificate
  api/directions/views.py
  api/researches/views.py
  directory/models.py
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
  l2-frontend/src/main.js
  l2-frontend/src/pages/ResultsParaclinic.vue
  l2-frontend/src/ui-cards/MedicalCertificates.vue
  laboratory/settings.py
  laboratory/urls.py
  medical_certificates/__init__.py
  medical_certificates/admin.py
  medical_certificates/forms/forms380.py
  medical_certificates/migrations/__init__.py
  medical_certificates/models.py
  medical_certificates/urls.py
  medical_certificates/views.py
  results/forms/forms102.py
Labels: backend, frontend

#764 место работы и должность: автоподстановка в ссылочное поле
  api/directions/views.py
  directions/models.py
  integration_framework/views.py
  medical_certificates/forms/forms380.py
  medical_certificates/models.py
  podrazdeleniya/models.py
Labels: backend

#767 Доработки микробиологии
  api/directions/views.py
  api/researches/views.py
  directory/models.py
  l2-frontend/src/construct/MicrobiologyResearchEditor.vue
  l2-frontend/src/fields/KOEField.vue
  l2-frontend/src/fields/MKBField.vue
  l2-frontend/src/fields/MKBFieldForm.vue
  l2-frontend/src/forms/BacMicroForm.vue
  l2-frontend/src/forms/DescriptiveForm.vue
  l2-frontend/src/forms/FastTemplates.vue
  l2-frontend/src/forms/utils.js
  l2-frontend/src/main.scss
  l2-frontend/src/pages/ResultsParaclinic.vue
  l2-frontend/src/ui-cards/SelectedResearches.vue
  laboratory/__init__.py
Labels: backend, frontend

#769 форма 025/у профосмотр
  contracts/management/__init__.py
  contracts/management/commands/__init__.py
  contracts/management/commands/companies_import.py
  forms/forms100.py
  utils/flowable.py
Labels: backend, frontend

#770 Microbiology form result
  api/directions/views.py
  api/views.py
  directory/admin.py
  directory/models.py
  forms/forms100.py
  forms/forms105.py
  forms/forms_func.py
  l2-frontend/src/modals/DReg.vue
  l2-frontend/src/pages/Profiles.vue
  medical_certificates/forms/forms380.py
Labels: backend, frontend

#774 Записать на добавить
  forms/forms100.py
  l2-frontend/src/modals/DReg.vue
Labels: backend, frontend

#773 Plan ui
  api/patients/urls.py
  api/patients/views.py
  clients/admin.py
  clients/models.py
  directory/admin.py
  directory/models.py
  forms/forms100.py
  l2-frontend/src/api/patients-point.js
  l2-frontend/src/modals/DReg.vue
  l2-frontend/src/modals/RmisDirectionsViewer.vue
  utils/dates.py
Labels: backend, frontend
