Repository mikhailprivalov/l2, pull requests merged in 2020-08, with the labels that each got.

#692 Карта-титульный для профосмотра
  clients/models.py
  directions/views.py
  forms/forms100.py
  l2-frontend/src/forms.js
  utils/flowable.py
Labels: backend, frontend

#714 fix: time zone в запросах sql по дате
  api/directions/sql_func.py
  api/plans/sql_func.py
  forms/forms109.py
  l2-frontend/src/components/PlanOperationsData.vue
  l2-frontend/src/pages/PlanOperations/components/Row.vue
  l2-frontend/src/pages/PlanOperations/index.vue
  statistic/sql_func.py
Labels: backend, frontend

#715 Порядок титульных листов
  l2-frontend/src/forms.js
Labels: frontend

#716 Feature/construct/fields and groups id helper
  Makefile
  api/laboratory/urls.py
  api/laboratory/views.py
  api/researches/urls.py
  api/researches/views.py
  l2-frontend/src/api/laboratory-point.js
  l2-frontend/src/api/researches-point.js
  l2-frontend/src/construct/ConstructParaclinic.vue
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
  l2-frontend/src/main.js
  l2-frontend/src/ui-cards/FieldHelper.vue
  l2-frontend/src/utils.js
  l2-frontend/webpack.config.js
Labels: backend, frontend

#718 А6-формат
  directions/forms/forms480.py
  directions/views.py
Labels: backend

#726 Fix canceled stationar direction
  api/directions/views.py
  api/stationar/stationar_func.py
  api/stationar/views.py
  directions/models.py
  forms/forms105.py
  l2-frontend/src/modals/DirectionsChangeParent.vue
  l2-frontend/src/pages/Stationar/index.vue
  utils/tree_directions.py
Labels: backend, frontend

#727 Fix field@
  api/directions/views.py
  forms/forms105.py
Labels: backend

#728 Del ldap
  mainmenu/urls.py
  mainmenu/views.py
  users/views.py
Labels: backend

#729 fix: При выборе предыдущего перевода создавалось новое направление с …
  api/directions/views.py
  forms/forms_func.py
  l2-frontend/src/pages/Stationar/index.vue
Labels: backend, frontend

#730 Fix sava paraclinic stationar
  forms/forms105.py
  forms/forms106.py
  l2-frontend/src/pages/Stationar/index.vue
  results/forms/forms101.py
Labels: backend, frontend

#735 Значение 'Оперировал' из протокола. Клинический диагноз из основного,…
  forms/forms_func.py
Labels: backend

#736 Fix report xlsx fio. Import culture, antibiotic
  api/bacteria/views.py
  directory/management/__init__.py
  directory/management/commands/__init__.py
  directory/management/commands/antibiotic_import.py
  directory/management/commands/culture_import.py
  directory/models.py
  l2-frontend/src/construct/ConstructBacteria.vue
  statistic/sql_func.py
Labels: backend, frontend

#737 categories
  api/researches/views.py
  api/views.py
  directory/models.py
  l2-frontend/src/construct/MicrobiologyResearchEditor.vue
  l2-frontend/src/ui-cards/CategoryPick.vue
  l2-frontend/src/ui-cards/ResearchDisplay.vue
  l2-frontend/src/ui-cards/ResearchesPicker.vue
  l2-frontend/src/ui-cards/SelectedResearches.vue
Labels: backend, frontend

#738 Bac analyzer
  api/directions/views.py
  api/views.py
  directions/models.py
  directory/management/commands/culture_import.py
  l2-frontend/src/forms/BacMicroForm.vue
  l2-frontend/src/pages/ResultsParaclinic.vue
  results/prepare_data.py
Labels: backend, frontend

#739 Idc form
  assets/img/idc_covid_footer.png
  directions/forms/forms380.py
  directions/forms/forms381.py
  directory/admin.py
  directory/models.py
  l2-frontend/src/construct/MicrobiologyResearchEditor.vue
Labels: backend, frontend

#740 Fix idc form
  directions/forms/forms381.py
  directions/views.py
Labels: backend

#742 forms modify
  directions/forms/forms380.py
  directions/forms/forms381.py
Labels: backend

#743 fix:day_get
  directions/forms/forms381.py
Labels: backend
