Repository mikhailprivalov/l2, pull requests merged in 2020-10, with the labels that each got.

#780 Disp more imp ui
  api/patients/views.py
  api/views.py
  l2-frontend/src/modals/DReg.vue
  l2-frontend/src/ui-cards/PatientPicker.vue
  laboratory/__init__.py
Labels: backend, frontend

#779 Form30 plan
  api/directions/sql_func.py
  api/directions/urls.py
  api/directions/views.py
  clients/admin.py
  context_processors/utils.py
  directions/forms/forms380.py
  directory/admin.py
  directory/models.py
  forms/forms100.py
  l2-frontend/src/api/directions-point.js
  l2-frontend/src/main.js
  l2-frontend/src/pages/ResultsDepartment.vue
  mainmenu/templates/dashboard/results_department.html
  mainmenu/urls.py
  results/forms/forms100.py
  results/forms/forms101.py
  results/sql_func.py
  results/views.py
Labels: backend, frontend

#782 По врачу
  api/directions/sql_func.py
  api/directions/views.py
  api/stationar/views.py
  context_processors/utils.py
  l2-frontend/src/pages/ResultsDepartment.vue
  mainmenu/templates/dashboard/results_department.html
Labels: backend, frontend

#783 Fix anesthesia
  api/directions/views.py
  api/views.py
  l2-frontend/src/fields/MKBFieldForm.vue
  l2-frontend/src/modals/L2CardCreate.vue
  utils/xh.py
Labels: backend, frontend

#784 Card v2
  l2-frontend/package.json
  l2-frontend/yarn.lock
  requirements-tests.txt
  requirements.txt
Labels: frontend

#796 Мигрируем на новый webpack, оптимизируем сборку, упрощаем конфиг babel
  l2-frontend/.babelrc
  l2-frontend/package.json
  l2-frontend/postcss.config.js
  l2-frontend/src/api/http-common.js
  l2-frontend/src/components/PlanOperationsData.vue
  l2-frontend/src/components/visibility-triggers.js
  l2-frontend/src/construct/ConstructParaclinic.vue
  l2-frontend/src/construct/MicrobiologyResearchEditor.vue
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
  l2-frontend/src/forms/BacMicroForm.vue
  l2-frontend/src/forms/LaboratoryTune.vue
  l2-frontend/src/main.js
  l2-frontend/src/modals/AmbulatoryData.vue
  l2-frontend/src/modals/Benefit.vue
  l2-frontend/src/modals/DReg.vue
  l2-frontend/src/modals/L2CardCreate.vue
  l2-frontend/src/modals/PlanOperationEdit.vue
  l2-frontend/src/modals/RmisDirectionsViewer.vue
  l2-frontend/src/modals/RmisSendDirections.vue
  l2-frontend/src/modals/Vaccine.vue
  l2-frontend/src/pages/DirectionVisit.vue
  l2-frontend/src/pages/Directions.vue
  l2-frontend/src/pages/EmployeeJobs.vue
  l2-frontend/src/pages/Profiles.vue
  l2-frontend/src/pages/ResultsParaclinic.vue
  l2-frontend/src/pages/RmisConfirm.vue
  l2-frontend/src/pages/Stationar/index.vue
  l2-frontend/src/styles.scss
  l2-frontend/src/ui-cards/DirectionSteps.vue
  l2-frontend/src/ui-cards/FieldHelper.vue
  l2-frontend/src/ui-cards/PatientPicker.vue
  l2-frontend/src/ui-cards/ResearchesPicker.vue
  l2-frontend/src/ui-cards/SelectedResearches.vue
  l2-frontend/webpack.config.js
  l2-frontend/yarn.lock
  laboratory/settings.py
  mainmenu/templates/dbase.html
  requirements-tests.txt
  requirements.txt
Labels: backend, frontend

#797 Plan operation create at
  api/plans/views.py
  l2-frontend/src/pages/PlanOperations/index.vue
  plans/models.py
  slog/models.py
Labels: backend, frontend

#809 Сборка всех стилей через webpack с оптимизацией
  assets/bootflat/css/bootflat.css
  assets/bootflat/css/bootflat.css.map
  assets/bootflat/css/bootflat.min.css
  assets/bootflat/img/check_flat/default.png
  assets/bootflat/img/check_flat/default.psd
  assets/css/animate.css
  assets/css/animate.min.css
  assets/css/bootstrap-datepicker.css
  assets/css/bootstrap-datepicker.min.css
  assets/css/bootstrap-datepicker.standalone.css
  assets/css/bootstrap-datepicker.standalone.min.css
  assets/css/bootstrap-editable.css
  assets/css/bootstrap-theme.css
  assets/css/bootstrap-theme.css.map
  assets/css/bootstrap-theme.min.css
  assets/css/bootstrap.css
  assets/css/bootstrap.css.map
  assets/css/bootstrap.min.css
  assets/css/dragula.min.css
  assets/css/flat-ui.css.map
  assets/css/flat-ui.min.css
  assets/css/font-awesome.css
  assets/css/font-awesome.min.css
  assets/fonts/FontAwesome.otf
  assets/fonts/fontawesome-webfont.eot
  assets/fonts/fontawesome-webfont.svg
  assets/fonts/fontawesome-webfont.ttf
  assets/fonts/fontawesome-webfont.woff
  assets/fonts/fontawesome-webfont.woff2
  assets/js/dragula.js
  l2-frontend/package.json
  l2-frontend/src/forms/DescriptiveForm.vue
  l2-frontend/src/main.js
  l2-frontend/src/styles/css/amaran.min.css
  l2-frontend/src/styles/css/bootstrap-datepicker3.css
  l2-frontend/src/styles/css/bootstrap-datepicker3.min.css
  l2-frontend/src/styles/css/bootstrap-datepicker3.standalone.css
  l2-frontend/src/styles/css/bootstrap-datepicker3.standalone.min.css
  l2-frontend/src/styles/css/bootstrap-select.css.map
  l2-frontend/src/styles/css/bootstrap-select.min.css
  l2-frontend/src/styles/css/perfect-scrollbar.min.css
  l2-frontend/src/styles/css/themes/tooltipster-light.css
  l2-frontend/src/styles/css/themes/tooltipster-noir.css
  l2-frontend/src/styles/css/themes/tooltipster-punk.css
  l2-frontend/src/styles/css/themes/tooltipster-shadow.css
  l2-frontend/src/styles/css/tooltipster.css
  l2-frontend/src/styles/editor.scss
  l2-frontend/src/styles/index.scss
  l2-frontend/src/styles/legacy.scss
  l2-frontend/src/styles/main.scss
  l2-frontend/src/styles/menubar.scss
  l2-frontend/src/styles/menububble.scss
  l2-frontend/src/styles/variables.scss
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
  l2-frontend/src/ui-cards/Icon/index.vue
  l2-frontend/webpack.config.js
  l2-frontend/yarn.lock
  mainmenu/templates/dbase.html
Labels: frontend

#820 Создание направлений из DReg
  api/directions/views.py
  api/patients/views.py
  l2-frontend/src/modals/DReg.vue
Labels: backend, frontend

#821 Form100 dreg
  api/patients/views.py
  clients/models.py
  forms/forms100.py
  l2-frontend/src/modals/DReg.vue
Labels: backend, frontend

#831 UI UX improvenments
  api/patients/views.py
  l2-frontend/package.json
  l2-frontend/src/constants.js
  l2-frontend/src/main.js
  l2-frontend/src/modals/DReg.vue
  l2-frontend/src/modals/L2CardCreate.vue
  l2-frontend/src/pages/Directions.vue
  l2-frontend/src/styles/main.scss
  l2-frontend/src/ui-cards/DirectionSteps.vue
  l2-frontend/src/utils.js
  l2-frontend/yarn.lock
Labels: backend, frontend

#832 fix
  directions/models.py
Labels: backend

#839 sql-выгрузка в рмис
  rmis_integration/client.py
  rmis_integration/sql_func.py
Labels: backend

#840 fix sql
  rmis_integration/sql_func.py
Labels: backend

#844 get mkb
  rmis_integration/management/commands/rmis_get_mkb.py
Labels: backend

#841 add examination
  directions/models.py
Labels: backend

#850 добавлено: получение объекта направление; удалена лишняя проверка
  rmis_integration/client.py
Labels: backend

#851 Если Фельдшер - чтоб печаталось на результатах "Фельдшер"
  results/views.py
Labels: backend

#852 Вес: 003/у, план операций
  api/plans/views.py
  forms/forms106.py
  forms/forms109.py
  forms/forms_func.py
  l2-frontend/src/pages/PlanOperations/components/Row.vue
Labels: backend, frontend

#857 ускорение sql
  l2-frontend/src/forms/DepartmentsForm.vue
  rmis_integration/sql_func.py
Labels: backend, frontend

#858 fix
  gunicorn.conf.py
  results/views.py
Labels: backend

#863 Registr future ui
  api/doctor_call/__init__.py
  api/doctor_call/urls.py
  api/doctor_call/views.py
  api/list_wait/__init__.py
  api/list_wait/urls.py
  api/list_wait/views.py
  api/urls.py
  api/views.py
  context_processors/utils.py
  doctor_call/__init__.py
  doctor_call/admin.py
  doctor_call/migrations/__init__.py
  doctor_call/models.py
  forms/forms109.py
  l2-frontend/src/components/CardSearch.vue
  l2-frontend/src/constants.js
  l2-frontend/src/fields/RadioField.vue
  l2-frontend/src/forms/BacMicroForm.vue
  l2-frontend/src/main.js
  l2-frontend/src/modals/L2CardCreate.vue
  l2-frontend/src/pages/Directions.vue
  l2-frontend/src/pages/DocCall.vue
  l2-frontend/src/pages/ListWait.vue
  l2-frontend/src/store/index.js
  l2-frontend/src/styles/main.scss
  l2-frontend/src/ui-cards/CallDoctor.vue
  l2-frontend/src/ui-cards/DirectAndPlanSwitcher.vue
  l2-frontend/src/ui-cards/IndividualPicker.vue
  l2-frontend/src/ui-cards/ListWaitCreator.vue
  l2-frontend/src/ui-cards/PatientPicker.vue
  l2-frontend/src/ui-cards/PatientSmallPicker.vue
  l2-frontend/src/ui-cards/ResearchDisplay.vue
  l2-frontend/src/ui-cards/SelectedResearches.vue
  laboratory/settings.py
  list_wait/__init__.py
  list_wait/admin.py
  list_wait/migrations/__init__.py
  list_wait/models.py
  mainmenu/templates/dashboard/doc_call.html
  mainmenu/templates/dashboard/list_wait.html
  mainmenu/templates/dbase.html
  mainmenu/urls.py
  slog/models.py
  utils/data_verification.py
Labels: backend, frontend

#866 печатные формы: Лист ожидания, Вызов врача
  api/researches/urls.py
  api/researches/views.py
  doctor_call/models.py
  forms/forms109.py
  l2-frontend/src/pages/ListWait.vue
  laboratory/__init__.py
  list_wait/models.py
  utils/dates.py
Labels: backend, frontend

#867 Card history
  api/patients/views.py
  clients/models.py
  forms/forms101.py
  l2-frontend/src/forms.js
  slog/models.py
  users/management/commands/patient_import_from_xlsx.py
  users/management/commands/synchr_tfoms_base.py
Labels: backend, frontend

#868 Rmis future
  api/views.py
  directions/models.py
  l2-frontend/src/pages/Profiles.vue
  statistics_tickets/admin.py
  statistics_tickets/models.py
  users/models.py
Labels: backend, frontend

#873 cancel doc_call
  api/doctor_call/urls.py
  api/doctor_call/views.py
  forms/forms109.py
  l2-frontend/src/pages/DocCall.vue
  l2-frontend/src/ui-cards/CallDoctor.vue
Labels: backend, frontend

#875 direction to IDC
  api/directions/views.py
  api/patients/views.py
  assets/img/dc_label.png
  directions/forms/forms381.py
  directions/models.py
  directory/models.py
  doctor_call/admin.py
  list_wait/admin.py
Labels: backend

#876 len diagnos in direction
  directions/views.py
  l2-frontend/src/ui-cards/SelectedResearches.vue
Labels: backend, frontend

#879 Tablet adaptation
  Makefile
  l2-frontend/src/pages/ResultsParaclinic.vue
  l2-frontend/src/styles/main.scss
  l2-frontend/src/ui-cards/SelectedResearches.vue
Labels: frontend

#880 Rospotrebnadzor
  api/directions/views.py
  medical_certificates/forms/forms380.py
  medical_certificates/models.py
Labels: backend
