Repository mikhailprivalov/l2, pull requests merged in 2022-01, with the labels that each got.

#1494 Additional direction
  api/directions/sql_func.py
  api/directions/views.py
  directions/admin.py
  directions/models.py
  directory/models.py
  users/admin.py
  users/models.py
Labels: PR: unreviewed

#1495 Revert "Additional direction"
  api/directions/sql_func.py
  api/directions/views.py
  directions/admin.py
  directions/models.py
  directory/models.py
  users/admin.py
  users/models.py
Labels: PR: unreviewed

#1498 Find cardby fio
  api/patients/views.py
  clients/management/__init__.py
  clients/management/commands/__init__.py
  clients/management/commands/find_card_by_fio.py
Labels: PR: reviewed-approved

#1499 Create additional services
  api/directions/views.py
  appconf/manager.py
  l2-frontend/src/fields/KOEField.vue
  l2-frontend/src/forms/BacMicroForm.vue
  l2-frontend/src/pages/ResultsParaclinic.vue
  l2-frontend/src/ui-cards/ResearchesPicker.vue
  l2-frontend/src/ui-cards/SelectedResearches.vue
  laboratory/__init__.py
Labels: PR: unreviewed

#1502 Plan hospitalization
  api/list_wait/views.py
  api/plans/sql_func.py
  api/plans/urls.py
  api/plans/views.py
  context_processors/utils.py
  hospitals/models.py
  l2-frontend/src/api/plans-point.ts
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/PlanHospitalization/components/Filters.vue
  l2-frontend/src/pages/PlanHospitalization/components/Row.vue
  l2-frontend/src/pages/PlanHospitalization/index.vue
  laboratory/__init__.py
  list_wait/models.py
  plans/admin.py
  plans/models.py
  slog/models.py
  statistic/sql_func.py
  statistic/structure_sheet.py
  utils/parse_sql.py
Labels: PR: reviewed-approved

#1503 отчет: по МСС. Проверка даты рождения
  statistic/structure_sheet.py
Labels: PR: reviewed-approved

#1505 fixes: Св-во о смерти (+МСС)
  directions/models.py
  results/forms/forms105.py
  results/forms/forms106.py
  statistic/structure_sheet.py
Labels: PR: merged

#1504 Template serivce
  api/researches/views.py
  api/views.py
  l2-frontend/src/construct/ConstructTemplates.vue
  l2-frontend/src/construct/TemplateEditor.vue
  l2-frontend/src/ui-cards/ResearchPick.vue
  l2-frontend/src/ui-cards/ResearchesPicker.vue
  l2-frontend/src/ui-cards/SelectedResearches.vue
  laboratory/__init__.py
  users/models.py
Labels: PR: unreviewed

#1518 Из параметров направления в протокол
  api/directions/views.py
  directions/forms/forms380.py
  directory/models.py
  statistic/structure_sheet.py
Labels: PR: reviewed-approved

#1519 MKB LINK FIELD %
  api/directions/views.py
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
  l2-frontend/src/construct/TableConstructor.vue
  l2-frontend/src/fields/MKBFieldForm.vue
  l2-frontend/src/fields/MKBFieldTreeselect.vue
  l2-frontend/src/fields/SearchFieldValueField.vue
  l2-frontend/src/fields/TableField.vue
  l2-frontend/src/forms/DescriptiveForm.vue
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
  laboratory/__init__.py
Labels: PR: unreviewed

#1520 отсутп справа по умолчанию
  laboratory/__init__.py
  results/views.py
Labels: PR: reviewed-approved

#1521 List wait hosp settings
  api/list_wait/views.py
  l2-frontend/src/ui-cards/ListWaitCreator.vue
  l2-frontend/src/ui-cards/SelectedResearches.vue
  laboratory/__init__.py
  plans/models.py
Labels: PR: unreviewed

#1534 Отмена палана госпитализации
  api/plans/urls.py
  api/plans/views.py
  l2-frontend/src/api/plans-point.ts
  l2-frontend/src/pages/PlanHospitalization/components/Row.vue
  l2-frontend/src/pages/PlanHospitalization/index.vue
  plans/admin.py
  plans/models.py
Labels: PR: reviewed-approved

#1532 Fix bac perinatal mss
  api/directions/views.py
  directions/models.py
  results/forms/forms106.py
  utils/nsi_directories.py
Labels: PR: unreviewed

#1533 Дата в процедурном листе
  forms/forms107.py
Labels: PR: unreviewed

#1535 Fix106 02 attr
  results/forms/forms106.py
  utils/nsi_directories.py
Labels: PR: reviewed-approved

#1536 Add snisl mother 106 02
  results/forms/forms106.py
Labels: PR: reviewed-approved

#1537 ФИО доктора в истории в рез-тах
  api/directions/views.py
  l2-frontend/src/pages/ResultsParaclinic.vue
  results/forms/forms106.py
Labels: PR: unreviewed

#1539 Add mse
  directory/models.py
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
  results/forms/forms107.py
Labels: PR: unreviewed

#1545 Ссылки на различные ресурсы
  api/urls.py
  api/views.py
  appconf/manager.py
  context_processors/utils.py
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/SomeLinks.vue
  laboratory/__init__.py
  laboratory/settings.py
Labels: PR: reviewed-approved

#1546 св-во ЭЦП-МО, просто врач
  api/researches/views.py
  api/views.py
  command_utils/management/commands/nsi_mkb_get.py
  directory/models.py
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
  l2-frontend/src/fields/DoctorProfileTreeselectField.vue
  l2-frontend/src/forms/DescriptiveForm.vue
  l2-frontend/src/styles/main.scss
  laboratory/__init__.py
Labels: PR: reviewed-approved

#1548 fixExpertiseReposrt
  statistic/structure_sheet.py
  statistic/views.py
Labels: PR: reviewed-approved

#1543 Change password
  api/users/urls.py
  api/users/views.py
  api/views.py
  appconf/manager.py
  context_processors/utils.py
  l2-frontend/src/pages/MenuPage.vue
  l2-frontend/src/pages/Profiles.vue
  l2-frontend/src/ui-cards/SelectedResearches.vue
  l2-frontend/src/utils.ts
  laboratory/__init__.py
  laboratory/celery.py
  laboratory/settings.py
  mq/apps.py
  mq/publisher.py
  mq/signals.py
  requirements-tests.txt
  requirements.txt
  slog/models.py
  users/models.py
  users/tasks.py
Labels: PR: unreviewed

#1550 Loose password
  api/users/urls.py
  api/users/views.py
  l2-frontend/src/pages/LoginPage.vue
  laboratory/__init__.py
  slog/models.py
  users/tasks.py
Labels: PR: unreviewed

#1555 New report
  l2-frontend/src/pages/Statistics.vue
  requirements.txt
  statistic/sql_func.py
  statistic/structure_sheet.py
  statistic/views.py
Labels: PR: reviewed-approved

#1558 настройка списка - куда звонить
  .gitignore
  api/external_system/__init__.py
  api/external_system/urls.py
  api/external_system/views.py
  api/urls.py
  l2-frontend/src/ui-cards/PatientPicker.vue
  laboratory/__init__.py
Labels: PR: reviewed-approved

#1559 fix
  api/external_system/views.py
  laboratory/__init__.py
Labels: PR: reviewed-approved

#1557 статистика-доступ - фильтр по МО
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/Statistics.vue
  results/forms/forms105.py
  statistic/sql_func.py
  statistic/views.py
Labels: PR: unreviewed

#1560 fix monitoring
  directions/models.py
Labels: PR: reviewed-approved

#1561 fix sql
  statistic/sql_func.py
Labels: PR: reviewed-approved

#1563 НСИ-МСЭ
  utils/nsi_directories.py
Labels: PR: reviewed-approved

#1562 disbledForms - не показывать определенные формы
  api/urls.py
  api/views.py
  l2-frontend/src/forms.js
  l2-frontend/src/modals/L2CardCreate.vue
  l2-frontend/src/pages/Directions.vue
  l2-frontend/src/ui-cards/PatientPicker.vue
  laboratory/__init__.py
  laboratory/settings.py
  users/models.py
Labels: PR: unreviewed

#1564 106/2 form
  results/forms/forms106.py
Labels: PR: reviewed-approved

#1565 fix район/город - 106/2 form
  results/forms/forms106.py
Labels: PR: reviewed-approved

#1570 настройка активации/деактивации Статистика: Категории, Категории-отчетов
  api/urls.py
  api/views.py
  l2-frontend/src/pages/Statistics.vue
  laboratory/settings.py
  users/models.py
Labels: PR: reviewed-approved

#1572 Настройка отчетов для Ковид
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/Statistics.vue
  laboratory/__init__.py
  laboratory/settings.py
  statistic/report/call_patient.py
  statistic/report/cert-not-work.py
  statistic/report/swab-covid.py
  statistic/sql_func.py
  statistic/structure_sheet.py
  statistic/views.py
Labels: PR: unreviewed

#1576 Fix contract
  .gitignore
  api/directions/sql_func.py
  api/directions/views.py
  api/views.py
  directions/admin.py
  directions/forms/forms480.py
  directions/models.py
  directory/models.py
  doctor_schedule/models.py
  forms/forms102.py
  forms/forms_func.py
  forms/sql_func.py
  hospitals/admin.py
  hospitals/models.py
  l2-frontend/src/forms.js
  l2-frontend/src/ui-cards/DirectionsHistory/Bottom/index.vue
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
  users/admin.py
  users/models.py
Labels: PR: reviewed-approved
