Repository mikhailprivalov/l2, pull requests merged in 2022-10, with the labels that each got.

#2078 ISSUE-2074 отправка
  .github/workflows/actionsVersionsUpdater.yml
  .github/workflows/issueLink.yml
  api/directions/sql_func.py
  api/directions/urls.py
  api/directions/views.py
  api/views.py
  appconf/manager.py
  context_processors/utils.py
  hospitals/models.py
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/EmailOrg.vue
  l2-frontend/src/pages/MenuPage.vue
  l2-frontend/src/types/hospital.ts
  l2-frontend/src/ui-cards/ExtendedPatientSearch/index.vue
Labels: PR: unreviewed

#2083 ISSUE-2081 404 vue
  .github/workflows/issueLink.yml
  Makefile
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/Ui404.vue
  laboratory/settings.py
  laboratory/urls.py
  mainmenu/templates/dashboard/error.html
  mainmenu/views.py
Labels: PR: unreviewed

#2076 Construct price v3
  api/views.py
  l2-frontend/src/construct/ConstructPrice.vue
Labels: PR: unreviewed

#2086 fix len hosp email
  hospitals/models.py
Labels: PR: reviewed-approved

#2091 L2 v2022.10.2-22+64e8d1 думаю не стоит это в письмах ссылатьс
  api/directions/views.py
Labels: PR: unreviewed

#2094 ISSUE-2069 receive journal + name fixes
  .github/workflows/issueLink.yml
  api/patients/views.py
  api/researches/urls.py
  api/researches/views.py
  api/views.py
  context_processors/utils.py
  l2-frontend/src/components/Navbar.vue
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/modals/L2CardCreate.vue
  l2-frontend/src/pages/ReceiveJournal.vue
  l2-frontend/src/pages/ReceiveOneByOne.vue
  l2-frontend/src/ui-cards/LaboratoryHeader.vue
  l2-frontend/src/ui-cards/LaboratorySelector.vue
  l2-frontend/src/utils.ts
  mainmenu/templates/dashboard/receive.html
  mainmenu/templates/dashboard/receive_journal.html
  mainmenu/urls.py
  mainmenu/views.py
Labels: PR: unreviewed

#2101 ISSUE-2072 utils vue
  .github/workflows/issueLink.yml
  api/health/__init__.py
  api/health/urls.py
  api/health/views.py
  api/urls.py
  context_processors/utils.py
  health/migrations/__init__.py
  health/urls.py
  health/views.py
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/Utils.vue
  l2-frontend/src/registerVue.ts
  laboratory/settings.py
  laboratory/urls.py
  mainmenu/templates/dashboard/utils.html
  mainmenu/urls.py
  slog/models.py
Labels: PR: unreviewed

#2111 Fix construct price
  api/views.py
  l2-frontend/src/construct/ConstructPrice.vue
Labels: PR: partially-approved

#2112 Консолидированный отчет допколонки
  directions/models.py
  directory/models.py
  statistic/report/consolidates.py
  statistic/sql_func.py
Labels: PR: reviewed-approved

#2123 Uet refferal
  api/directions/views.py
  api/researches/views.py
  directory/models.py
  directory/utils.py
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
Labels: PR: reviewed-approved

#2129 fix research update
  api/researches/views.py
Labels: PR: reviewed-approved

#2130 fix forms 110
  results/forms/forms110.py
Labels: PR: unreviewed

#2142 add leading
  results/forms/forms110.py
Labels: PR: partially-approved

#2141 v-tippy только для длинных строк
  l2-frontend/src/construct/ConstructPrice.vue
Labels: PR: unreviewed

#2144 Registration
  api/patients/views.py
  api/views.py
  clients/models.py
  ecp_integration/__init__.py
  ecp_integration/integration.py
  l2-frontend/src/pages/ResultsParaclinic.vue
  users/models.py
Labels: PR: unreviewed

#2153 need show examination date in paraclinic result for type service
  api/directions/views.py
  l2-frontend/src/pages/ResultsParaclinic.vue
  l2-frontend/src/ui-cards/SelectedResearches.vue
  laboratory/settings.py
Labels: PR: reviewed-approved

#2149 get timetable ecp
  ecp_integration/integration.py
  ecp_integration/sql_func.py
Labels: PR: unreviewed

#2160 fix 105.03
  forms/forms105.py
Labels: PR: unreviewed

#2161 add RMIS_PROXY
  ecp_integration/integration.py
Labels: PR: unreviewed

#2145 fix v-tippy урезанных строк
  l2-frontend/src/construct/ConstructPrice.vue
Labels: PR: partially-approved

#2164 fix rmis location
  api/views.py
Labels: PR: reviewed-approved

#2167 L2.Сообщения
  .gitignore
  Makefile
  api/chats/__init__.py
  api/chats/urls.py
  api/chats/views.py
  api/urls.py
  api/views.py
  appconf/manager.py
  chats/__init__.py
  chats/apps.py
  chats/migrations/__init__.py
  chats/models.py
  l2-frontend/.eslintrc.js
  l2-frontend/src/App.vue
  l2-frontend/src/assets/notify.mp3
  l2-frontend/src/components/Navbar.vue
  l2-frontend/src/pages/LoginPage.vue
  l2-frontend/src/pages/MenuPage.vue
  l2-frontend/src/pages/Ui404.vue
  l2-frontend/src/pages/Utils.vue
  l2-frontend/src/registerHooks.ts
  l2-frontend/src/registerVue.ts
  l2-frontend/src/shims-vue.d.ts
  l2-frontend/src/store/action-types.ts
  l2-frontend/src/store/index.ts
  l2-frontend/src/store/modules/chats.ts
  l2-frontend/src/store/modules/user.ts
  l2-frontend/src/store/mutation-types.ts
  l2-frontend/src/styles/main.scss
  l2-frontend/src/types/chats.ts
  l2-frontend/src/ui-cards/Chat/ChatDepartment.vue
  l2-frontend/src/ui-cards/Chat/ChatDialog.vue
  l2-frontend/src/ui-cards/Chat/ChatToast.vue
  l2-frontend/src/ui-cards/Chat/ChatUser.vue
  l2-frontend/src/ui-cards/Chat/ChatsBody.vue
  l2-frontend/src/ui-cards/Chat/ChatsDialogs.vue
  l2-frontend/src/ui-cards/ChatsButton.vue
  l2-frontend/src/ui-cards/CheckBackend.vue
  laboratory/redis.py
  laboratory/settings.py
  laboratory/urls.py
  laboratory/wsgi.py
  mainmenu/views.py
  users/models.py
Labels: PR: unreviewed

#2170 chats fixes
  api/chats/views.py
  l2-frontend/src/UrlData.js
  l2-frontend/src/pages/Stationar/mixins/menu.js
  l2-frontend/src/store/modules/chats.ts
  l2-frontend/src/ui-cards/Chat/ChatDepartment.vue
  l2-frontend/src/ui-cards/Chat/ChatDialog.vue
  l2-frontend/src/ui-cards/Chat/ChatMessage.vue
  l2-frontend/src/ui-cards/Chat/ChatsBody.vue
Labels: PR: unreviewed

#2173 ecp_id patient
  api/directions/views.py
  api/ecp/views.py
  clients/models.py
  ecp_integration/integration.py
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
Labels: PR: unreviewed

#2174 Issue 2166 ecp slots
  api/chats/views.py
  api/directions/views.py
  api/ecp/__init__.py
  api/ecp/urls.py
  api/ecp/views.py
  api/urls.py
  clients/models.py
  ecp_integration/integration.py
  l2-frontend/src/constants.ts
  l2-frontend/src/pages/Directions.vue
  l2-frontend/src/ui-cards/DirectAndPlanSwitcher.vue
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
  l2-frontend/src/ui-cards/ServiceScheduleEcp.vue
Labels: PR: unreviewed

#2148 Параметры направления на стандартных направлениях
  directions/views.py
Labels: PR: partially-approved

#2179 medicaal_examination -> time confirm on form
  results/forms/forms102.py
Labels: PR: reviewed-approved

#2178 Vue component VueTippyTd
  l2-frontend/src/construct/ConstructPrice.vue
  l2-frontend/src/construct/VueTippyTd.vue
Labels: PR: unreviewed

#2180 Time table resource
  api/directions/views.py
  api/ecp/views.py
  api/views.py
  ecp_integration/integration.py
  ecp_integration/sql_func.py
  forms/forms111.py
  l2-frontend/src/pages/Profiles.vue
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
  l2-frontend/src/ui-cards/ServiceScheduleEcp.vue
  users/models.py
Labels: PR: reviewed-approved

#2183 Chats img
  api/chats/views.py
  chats/models.py
  l2-frontend/package.json
  l2-frontend/src/App.vue
  l2-frontend/src/api/http-common.ts
  l2-frontend/src/api/index.ts
  l2-frontend/src/registerVue.ts
  l2-frontend/src/shims-vue.d.ts
  l2-frontend/src/store/modules/chats.ts
  l2-frontend/src/ui-cards/Chat/ChatDepartment.vue
  l2-frontend/src/ui-cards/Chat/ChatDialog.vue
  l2-frontend/src/ui-cards/Chat/ChatInput.vue
  l2-frontend/src/ui-cards/Chat/ChatMessage.vue
  l2-frontend/src/ui-cards/Chat/ChatToast.vue
  l2-frontend/src/ui-cards/Chat/ChatUser.vue
  l2-frontend/src/ui-cards/Chat/ChatsBody.vue
  l2-frontend/yarn.lock
Labels: PR: unreviewed

#2186 schedule record in results
  api/directions/views.py
  ecp_integration/integration.py
  l2-frontend/src/components/Navbar.vue
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/ResultsParaclinic.vue
  l2-frontend/src/ui-cards/Chat/ChatMessage.vue
  l2-frontend/src/ui-cards/Chat/ChatToast.vue
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
  l2-frontend/src/ui-cards/EcpSchedule.vue
  l2-frontend/src/ui-cards/PatientPicker.vue
  l2-frontend/src/ui-cards/ServiceScheduleEcp.vue
Labels: PR: unreviewed

#2176 Согласие на применение препарата "вне инструкции"
  forms/forms101.py
  l2-frontend/src/forms.js
Labels: PR: reviewed-approved

#2196 fix user_save
  api/views.py
Labels: PR: unreviewed

#2198 удаление записи на прием
  api/directions/views.py
  api/ecp/urls.py
  api/ecp/views.py
  ecp_integration/integration.py
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
  utils/dates.py
Labels: PR: reviewed-approved

#2201 логирование удаления записей
  api/ecp/views.py
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
  slog/models.py
Labels: PR: unreviewed

#2205 Limit age patient doctor schedule
  api/ecp/views.py
  api/users/sql_func.py
  api/views.py
  appconf/manager.py
  clients/models.py
  ecp_integration/integration.py
  ecp_integration/sql_func.py
  l2-frontend/src/pages/Profiles.vue
  l2-frontend/src/ui-cards/ServiceScheduleEcp.vue
  users/models.py
Labels: PR: unreviewed

#2208 Возраст на запись - расширить в конструкторе
  l2-frontend/src/pages/Profiles.vue
Labels: PR: unreviewed

#2210 cancel record from resource
  api/ecp/views.py
  ecp_integration/integration.py
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
Labels: PR: reviewed-approved

#2214 fix time for resiurce schedule
  ecp_integration/integration.py
Labels: PR: reviewed-approved

#2217 fix time_confirmation
  results/views.py
Labels: PR: reviewed-approved
