Repository mikhailprivalov/l2, pull requests merged in 2022-12, with the labels that each got.

#2307 consult data для cda
  integration_framework/utils.py
Labels: PR: unreviewed

#2312 input templates improve
  .github/workflows/actionsVersionsUpdater.yml
  .github/workflows/stale.yml
  .github/workflows/vue_cli_lint.yml
  .github/workflows/webpack_build.yml
  l2-frontend/src/forms/InputTemplates.vue
Labels: PR: unreviewed

#2308 Антирабическая карта - время посещения
  results/forms/forms110.py
Labels: PR: unreviewed

#2310 Конструктор прайсов - стоматология
  api/views.py
  l2-frontend/src/construct/ConstructPrice.vue
Labels: PR: unreviewed

#2318 Harmful factor
  api/directions/views.py
  api/patients/urls.py
  api/patients/views.py
  api/urls.py
  api/views.py
  appconf/manager.py
  clients/admin.py
  clients/models.py
  directions/models.py
  l2-frontend/src/construct/ConstructHarmfulFactor.vue
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/modals/HarmfulFactor.vue
  l2-frontend/src/ui-cards/PatientPicker.vue
  users/admin.py
  users/models.py
Labels: PR: unreviewed

#2315 Порядок согласий
  forms/forms101.py
  l2-frontend/src/forms.js
Labels: PR: unreviewed

#2323 Согласие на мед. вмешательство (члх)
  l2-frontend/src/forms.js
Labels: PR: reviewed-approved

#2329 Modify router list
  forms/forms112.py
  statistic/report/consolidates.py
  statistic/sql_func.py
Labels: PR: unreviewed

#2331 Конструктор вредных факторов
  api/urls.py
  api/views.py
  clients/models.py
  l2-frontend/src/construct/ConstructHarmfulFactor.vue
  l2-frontend/src/modals/HarmfulFactor.vue
  slog/models.py
Labels: PR: partially-approved

#2333 отделы компаний
  api/patients/views.py
  api/urls.py
  api/views.py
  clients/models.py
  contracts/admin.py
  contracts/models.py
  l2-frontend/src/modals/L2CardCreate.vue
Labels: PR: unreviewed

#2338 контроль: planed_doctor и fact_doctor кто открывает
  api/directions/views.py
Labels: PR: unreviewed

#2337 Отделы компании
  api/urls.py
  api/views.py
  l2-frontend/src/construct/ConstructCompany.vue
  l2-frontend/src/mainWithRouter.ts
  slog/models.py
Labels: PR: partially-approved

#2353 Поиск предыдущих результатов по отделению по госпитализации
  api/directions/views.py
  api/researches/help_files/constructor_help.py
  api/sql_func.py
Labels: PR: unreviewed

#2356 autofocus directionVisit
  l2-frontend/src/pages/DirectionVisit.vue
Labels: PR: unreviewed

#2360 fix - current_hosp root_hosp last result
  api/directions/views.py
  api/patients/common_func.py
  api/patients/sql_func.py
  api/researches/help_files/constructor_help.py
  api/sql_func.py
Labels: PR: unreviewed

#2362 Конструктор бактерий - fix пустых названий
  l2-frontend/src/construct/ConstructBacteria.vue
  l2-frontend/src/modals/BacteriaEditTitleGroup.vue
  l2-frontend/src/modals/FastCreateAndFillBacteriaGroup.vue
Labels: PR: unreviewed

#2364 eds stamp
  api/directions/views.py
  api/laboratory/views.py
  appconf/manager.py
  directions/models.py
  integration_framework/utils.py
  l2-frontend/src/pages/EDS.vue
  l2-frontend/src/pages/ResultsPreview.vue
  l2-frontend/src/ui-cards/EDSDocument.vue
  l2-frontend/src/ui-cards/EDSSigner.vue
  results/views.py
Labels: PR: unreviewed

#2368 fix stamp sign in result pdf
  directions/views.py
  l2-frontend/src/pages/ResultsPreview.vue
  results/views.py
  utils/xh.py
Labels: PR: unreviewed

#2372 CDAisExtract_v3
  directory/models.py
  directory/utils.py
  external_system/models.py
  integration_framework/utils.py
  integration_framework/views.py
  statistic/views.py
  utils/nsi_directories.py
Labels: PR: merged

#2359 Fix ConstructHarmfulFactors
  api/views.py
  l2-frontend/src/construct/ConstructHarmfulFactor.vue
  l2-frontend/src/construct/RegexFormatInput.vue
Labels: PR: unreviewed

#2377 fix
  clients/models.py
  directions/models.py
  integration_framework/utils.py
  integration_framework/views.py
  utils/nsi_directories.py
  utils/xh.py
Labels: PR: merged

#2379 fix insurer_full_code
  clients/models.py
Labels: PR: unreviewed

#2381 fix insurer_full_code
  clients/models.py
Labels: PR: unreviewed

#2385 fix only_cda
  integration_framework/views.py
Labels: PR: unreviewed

#2387 fix crc32
  integration_framework/views.py
Labels: PR: unreviewed

#2392 fix stationar transfer. Sql report data -del filter parent_id
  api/directions/views.py
  statistic/sql_func.py
Labels: PR: unreviewed

#2395 защита от цикла при переводе
  api/directions/views.py
Labels: PR: unreviewed

#2394 card.number -> card.pk
  integration_framework/views.py
Labels: PR: unreviewed
