Repository mikhailprivalov/l2, pull requests merged in 2022-03, with the labels that each got.

#1642 Fix flg
  api/views.py
  context_processors/utils.py
  l2-frontend/src/modals/FileAddModal.vue
  l2-frontend/src/shims-window.d.ts
  laboratory/__init__.py
  laboratory/settings.py
  mainmenu/templates/dashboard/results_preview.html
  mainmenu/templates/vuebase.html
Labels: PR: reviewed-approved

#1645 fix del console.log
  mainmenu/templates/dashboard/results_preview.html
Labels: PR: reviewed-approved

#1649 report CERTIFICATE: DRIVER and WEAPON
  laboratory/settings.py
  statistic/sql_func.py
  statistic/structure_sheet.py
  statistic/views.py
  utils/parse_sql.py
Labels: PR: reviewed-approved

#1648 Field Required Stattalon
  api/researches/urls.py
  api/researches/views.py
  l2-frontend/src/api/researches-point.ts
  l2-frontend/src/pages/ResultsParaclinic.vue
  l2-frontend/src/store/action-types.ts
  l2-frontend/src/store/modules/directory.ts
  l2-frontend/src/store/mutation-types.ts
  laboratory/settings.py
Labels: PR: unreviewed

#1646 Statistic universal
  api/dashboards/__init__.py
  api/dashboards/urls.py
  api/dashboards/views.py
  api/urls.py
  appconf/manager.py
  context_processors/utils.py
  dashboards/__init__.py
  dashboards/admin.py
  dashboards/migrations/__init__.py
  dashboards/models.py
  dashboards/sql_func.py
  dashboards/views.py
  directions/admin.py
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/StatisticsReport/index.vue
  laboratory/__init__.py
  laboratory/settings.py
Labels: PR: unreviewed

#1652 fix: death report
  results/forms/forms105.py
  statistic/structure_sheet.py
Labels: PR: unreviewed

#1656 fix: check stattalon field reauired - for only is_doc_refferal
  l2-frontend/src/pages/ResultsParaclinic.vue
Labels: PR: unreviewed

#1644 Согласие на оперативное вмешательство
  forms/forms101.py
  l2-frontend/src/forms.js
Labels: PR: unreviewed

#1663 fix cache Dashboard
  dashboards/sql_func.py
  dashboards/views.py
  directions/admin.py
  statistic/views.py
Labels: PR: reviewed-approved

#1667 Fix dataset to graphics
  api/dashboards/views.py
  dashboards/models.py
  dashboards/sql_func.py
Labels: PR: reviewed-approved

#1669 Dashboards ng
  api/dashboards/views.py
  l2-frontend/package.json
  l2-frontend/src/App.vue
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/StatisticsReport/Charts.vue
  l2-frontend/src/pages/StatisticsReport/index.vue
  l2-frontend/src/registerVue.ts
  l2-frontend/src/shims-vue.d.ts
  l2-frontend/yarn.lock
  laboratory/__init__.py
Labels: PR: unreviewed

#1668 Report by purpose
  api/urls.py
  api/views.py
  l2-frontend/src/pages/ResultsParaclinic.vue
  l2-frontend/src/pages/Statistics.vue
  laboratory/settings.py
  statistic/report/dispanserization.py
  statistic/sql_func.py
  statistic/structure_sheet.py
  statistic/views.py
  utils/common.py
Labels: PR: reviewed-approved

#1670 fix
  statistic/sql_func.py
Labels: PR: reviewed-approved

#1671 Выписки для ЛК
  api/directions/sql_func.py
  api/researches/urls.py
  api/researches/views.py
  integration_framework/views.py
  l2-frontend/src/api/researches-point.ts
  l2-frontend/src/pages/ResultsParaclinic.vue
  l2-frontend/src/store/action-types.ts
  l2-frontend/src/store/modules/directory.ts
  l2-frontend/src/store/mutation-types.ts
  laboratory/__init__.py
  laboratory/settings.py
  results/views.py
  statistic/sql_func.py
  statistic/views.py
Labels: PR: reviewed-approved

#1672 Lk get dicom
  api/dicom.py
  api/directions/sql_func.py
  dashboards/models.py
  integration_framework/views.py
Labels: PR: reviewed-approved

#1678 1) fix: парметры направления -название переменных на front-е
  l2-frontend/src/ui-cards/SelectedResearches.vue
Labels: PR: reviewed-approved

#1679 Limit create direction by district
  api/directions/views.py
  directions/models.py
  directions/sql_func.py
  l2-frontend/src/registerHooks.ts
  laboratory/__init__.py
  laboratory/utils.py
  users/admin.py
  users/models.py
Labels: PR: reviewed-approved

#1680 Fix limit reseraches
  directions/models.py
Labels: PR: reviewed-approved

#1683 admin: dash
  dashboards/admin.py
  dashboards/models.py
Labels: PR: reviewed-approved

#1690 dash PIE: за 1 период нес-ко запросов
  dashboards/views.py
Labels: PR: reviewed-approved

#1688 Construct district
  api/districts/__init__.py
  api/districts/sql_func.py
  api/districts/urls.py
  api/districts/views.py
  api/urls.py
  api/views.py
  directions/models.py
  directions/sql_func.py
  l2-frontend/src/construct/ConstructDistrict.vue
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/Profiles.vue
  statistic/report/dispanserization.py
  statistic/sql_func.py
  statistic/views.py
  users/admin.py
  users/models.py
Labels: PR: partially-approved
