Repository mikhailprivalov/l2, pull requests merged in 2022-09, with the labels that each got.

#1932 Death data
  directory/models.py
  integration_framework/views.py
Labels: PR: unreviewed

#1933 fix death
  command_utils/management/commands/nsi_mkb_get.py
  statistic/sql_func.py
Labels: PR: unreviewed

#1934 legal_auth for hosp
  hospitals/models.py
  integration_framework/utils.py
Labels: PR: unreviewed

#1931 upgrade django to 4.1
  .github/dependabot.yml
  .github/workflows/python-max-app.yml
  .github/workflows/python-min-app.yml
  api/directions/views.py
  api/laboratory/views.py
  api/patients/views.py
  api/procedure_list/views.py
  api/researches/views.py
  api/views.py
  context_processors/utils.py
  integration_framework/utils.py
  integration_framework/views.py
  laboratory/decorators.py
  laboratory/settings.py
  laboratory/urls.py
  laboratory/utils.py
  mainmenu/views.py
  requirements-tests.txt
  requirements.txt
  results/prepare_data.py
  results/views.py
  statistic/views.py
  users/management/commands/holter.py
Labels: PR: unreviewed

#1951 fix
  integration_framework/views.py
Labels: PR: unreviewed

#1952 Fix deat diag
  integration_framework/views.py
Labels: PR: unreviewed

#1957 fix medExam
  medical_certificates/forms/forms380.py
Labels: PR: unreviewed

#1959 fix okpo
  integration_framework/utils.py
  integration_framework/views.py
  podrazdeleniya/admin.py
Labels: PR: reviewed-approved

#1960 Fix
  integration_framework/views.py
Labels: PR: unreviewed

#1965 Префикс номера+Номер
  integration_framework/utils.py
Labels: PR: unreviewed

#1968 Report profosmotr
  l2-frontend/src/pages/Statistics.vue
  statistic/report/consolidates.py
  statistic/sql_func.py
  statistic/views.py
Labels: PR: reviewed-approved

#1970 фильтрация услуг для страница ПОИСКА
  api/researches/views.py
  api/views.py
Labels: PR: reviewed-approved

#1971 октмо
  hospitals/models.py
Labels: PR: reviewed-approved

#1974 check available cda server
  api/directions/views.py
Labels: PR: reviewed-approved

#1975 check UUID подразделения заполнен
  api/directions/views.py
Labels: PR: reviewed-approved

#1977 filter research to REMD
  api/directions/views.py
  integration_framework/sql_if.py
  integration_framework/views.py
  laboratory/settings.py
Labels: PR: reviewed-approved

#1980 use_def_hospital_legal_auth - толкьо для определенных услуг
  integration_framework/utils.py
  laboratory/settings.py
Labels: PR: reviewed-approved

#1981 Возможность принадлежность полей для cda по НСИ
  api/apps.py
  api/researches/views.py
  directions/admin.py
  directory/models.py
  directory/utils.py
  external_system/admin.py
  external_system/models.py
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
  l2-frontend/src/styles/main.scss
  laboratory/__init__.py
  laboratory/settings.py
  results/sql_func.py
Labels: PR: unreviewed

#1982 REMD_FIELDS_BY_TYPE_DOCUMENT
  integration_framework/utils.py
  laboratory/settings.py
Labels: PR: reviewed-approved

#1967 Конструктор прайсов + печатные формы
  api/urls.py
  api/views.py
  forms/forms101.py
  forms/forms105.py
  l2-frontend/src/construct/ConstructPrice.vue
  l2-frontend/src/forms.js
  l2-frontend/src/mainWithRouter.ts
  results/forms/forms108.py
Labels: PR: reviewed-approved

#1986 Dev dev exp
  .github/workflows/python-max-app.yml
  .github/workflows/python-min-app.yml
  Makefile
  do-release.sh
  l2-frontend/src/ui-cards/DirectionsHistory/Bottom/index.vue
  l2-frontend/yarn.lock
  laboratory/__init__.py
  poetry.lock
  pyproject.toml
  requirements-tests.txt
  requirements.txt
  update-version.sh
Labels: PR: unreviewed

#1996 gix ConsultProtocol
  integration_framework/utils.py
  integration_framework/views.py
Labels: PR: unreviewed

#2016 Workplace find by letter
  api/patients/views.py
  api/urls.py
  api/views.py
  contracts/models.py
  contracts/sql_func.py
  l2-frontend/src/modals/L2CardCreate.vue
Labels: PR: unreviewed

#1995 Fix construct price
  api/urls.py
  api/views.py
  l2-frontend/src/construct/ConstructPrice.vue
Labels: PR: partially-approved

#2047 work db
  api/patients/views.py
Labels: PR: reviewed-approved

#2046 Логирование изменений в прайсах
  api/views.py
  l2-frontend/src/construct/ConstructPrice.vue
  slog/models.py
Labels: PR: unreviewed

#2049 Dynamic table
  api/sql_func.py
  directions/models.py
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
Labels: PR: reviewed-approved

#2057 Fix list_non_selected_visible_type
  utils/common.py
Labels: PR: unreviewed

#2060 L-2-SYSTEM-T-7 Fix required_equal_hosp_for_eds
  api/directions/views.py
Labels: PR: unreviewed

#2062 API для рассылки результатов направлений в организации
  api/directions/urls.py
  api/directions/views.py
  appconf/manager.py
  directions/models.py
  hospitals/models.py
  integration_framework/common_func.py
  slog/models.py
Labels: PR: unreviewed

#2065 directions sendemailByHosp
  api/directions/sql_func.py
  api/directions/views.py
  hospitals/models.py
Labels: PR: unreviewed

#2075 searchDicom in history
  api/directions/views.py
  api/urls.py
  api/views.py
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
Labels: PR: reviewed-approved
