Repository mikhailprivalov/l2, pull requests merged in 2022-06, with the labels that each got.

#1789 Modify find result
  api/directions/views.py
  api/sql_func.py
  api/views.py
  clients/models.py
  directions/forms/forms480.py
  forms/forms_func.py
  l2-frontend/src/pages/Search.vue
  results/prepare_data.py
  users/management/commands/export_research.py
  users/models.py
Labels: PR: reviewed-approved

#1790 additional number in findPage
  api/sql_func.py
  api/views.py
  l2-frontend/src/pages/Search.vue
Labels: PR: reviewed-approved

#1795 131u
  results/forms/forms109.py
Labels: PR: unreviewed

#1797 обязательность изменения внешней организаци
  l2-frontend/src/ui-cards/SelectedResearches.vue
Labels: PR: reviewed-approved

#1798 showExpertiseStatus on navbar stationarPage
  l2-frontend/src/mainWithRouter.ts
Labels: PR: unreviewed

#1800 Дата в "Заключение ВМП"
  results/forms/forms104.py
Labels: PR: partially-approved

#1801 убрал пробел
  results/forms/forms104.py
Labels: PR: reviewed-approved

#1805 Control param
  api/directions/views.py
  api/researches/views.py
  directions/models.py
  directory/models.py
  directory/utils.py
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
Labels: PR: reviewed-approved

#1804 3 колонки + рез-ты лаб, диаг, консульт.
  results/forms/forms101.py
Labels: PR: reviewed-approved

#1806 Front control param
  api/patients/sql_func.py
  api/patients/urls.py
  api/patients/views.py
  api/views.py
  clients/admin.py
  clients/models.py
  directions/models.py
Labels: PR: reviewed-approved

#1814 Report patology
  api/reports/__init__.py
  api/reports/handle_func.py
  api/reports/sql_func.py
  api/reports/structure_sheet.py
  api/reports/urls.py
  api/reports/views.py
  api/urls.py
  api/views.py
  l2-frontend/src/fields/DateSelector.vue
  l2-frontend/src/pages/Search.vue
  l2-frontend/src/pages/Statistics.vue
  laboratory/settings.py
  statistic/views.py
Labels: PR: reviewed-approved

#1815 Фиксы
  api/patients/views.py
  api/reports/handle_func.py
Labels: PR: reviewed-approved

#1825 Api gistology
  api/directions/views.py
  integration_framework/urls.py
  integration_framework/views.py
  laboratory/settings.py
  slog/models.py
Labels: PR: reviewed-approved

#1827 Параметры для Больницы - произвольные
  api/directions/views.py
  directions/models.py
  hospitals/admin.py
  hospitals/models.py
Labels: PR: reviewed-approved

#1828 fix api gistology - проверка заполненности врача
  integration_framework/views.py
Labels: PR: reviewed-approved

#1829 fix report gistology
  api/reports/handle_func.py
  api/reports/sql_func.py
  integration_framework/views.py
Labels: PR: unreviewed
