Repository mikhailprivalov/l2, pull requests merged in 2023-05, with the labels that each got.

#2749 Import group field
  api/researches/help_files/constructor_help.py
  api/researches/urls.py
  api/researches/views.py
  l2-frontend/src/construct/ParaclinicResearchEditor.vue
  l2-frontend/src/fields/FormulaField.vue
  l2-frontend/src/registerHooks.ts
  l2-frontend/src/shims-vue.d.ts
  l2-frontend/src/ui-cards/LoadFile.vue
  l2-frontend/src/ui-cards/Modal.vue
Labels: PR: unreviewed

#2751 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2752 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2759 Загрузка факторов - fix
  api/parse_file/views.py
  contracts/sql_func.py
Labels: PR: unreviewed

#2757 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2770 переотправка результатов. Фикс копирования назначений. Фикс параметро…
  api/directions/urls.py
  api/directions/views.py
  api/patients/urls.py
  api/patients/views.py
  api/researches/views.py
  directions/views.py
  l2-frontend/package.json
  l2-frontend/src/registerHooks.ts
  l2-frontend/src/ui-cards/DirectionsHistory/Bottom/index.vue
  l2-frontend/src/ui-cards/DirectionsHistory/Bottom/mixins/menu.js
  l2-frontend/src/ui-cards/SelectedResearches.vue
Labels: PR: unreviewed

#2768 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2783 search patinet in ECP
  clients/models.py
  ecp_integration/integration.py
  laboratory/settings.py
  rmis_integration/client.py
Labels: PR: unreviewed

#2771 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2784 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2785 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2793 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: automated pr

#2794 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: automated pr

#2808 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: automated pr

#2809 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: automated pr

#2816 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: automated pr

#2817 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: automated pr

#2838 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: automated pr

#2839 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: automated pr
