Repository mikhailprivalov/l2, pull requests merged in 2023-04, with the labels that each got.

#2642 Load CSV
  api/admin.py
  api/models.py
  api/parse_file/urls.py
  api/parse_file/views.py
  api/views.py
  appconf/manager.py
  l2-frontend/src/ui-cards/LoadFile.vue
Labels: PR: unreviewed

#2649 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2650 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2664 Progno date
  api/parse_file/views.py
  clients/models.py
  l2-frontend/src/ui-cards/LoadFile.vue
  laboratory/settings.py
  laboratory/urls.py
  statistic/report/commercial_offer.py
  statistic/views.py
  utils/dates.py
Labels: PR: unreviewed

#2665 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2666 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2679 Document movement
  api/parse_file/views.py
  api/patients/views.py
  api/transfer_document/__init__.py
  api/transfer_document/urls.py
  api/transfer_document/views.py
  api/urls.py
  api/views.py
  clients/admin.py
  clients/models.py
  context_processors/utils.py
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/modals/L2CardCreate.vue
  l2-frontend/src/pages/Profiles.vue
  l2-frontend/src/pages/TransferDocument/TransferCard.vue
  podrazdeleniya/models.py
  users/admin.py
  users/models.py
Labels: PR: unreviewed

#2680 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2683 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2687 Fix aux
  api/directions/urls.py
  api/directions/views.py
  directory/models.py
  l2-frontend/src/ui-cards/AuxResearch.vue
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
  results/views.py
Labels: PR: unreviewed

#2688 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2689 modal aux
  l2-frontend/src/ui-cards/AuxResearch.vue
Labels: PR: unreviewed

#2690 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2692 Конструктор и отрисовка табличного поля множественного зависимого выбора
  l2-frontend/src/construct/TableConstructor.vue
  l2-frontend/src/construct/TableMutiselectEditor.vue
  l2-frontend/src/fields/TableField.vue
  l2-frontend/src/fields/TreeSelectMultiField.vue
  results/prepare_data.py
Labels: PR: unreviewed

#2693 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2694 fix watch
  appconf/manager.py
  context_processors/utils.py
  l2-frontend/src/mainWithRouter.ts
  l2-frontend/src/pages/TransferDocument/TransferCard.vue
Labels: PR: unreviewed

#2701 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2702 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2703 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2705 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2716 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2717 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2719 Make code more clean
  api/laboratory/views.py
  api/patients/views.py
  appconf/views.py
  doctor_call/models.py
  external_system/views.py
  hospitals/views.py
  l2-frontend/src/fields/FormulaField.vue
  l2-frontend/src/pages/StatisticsReport/Charts.vue
  l2-frontend/src/ui-cards/DirectionsHistory/index.vue
  l2-frontend/src/ui-cards/ResearchesPicker.vue
  list_wait/models.py
  pharmacotherapy/views.py
  plans/views.py
  users/admin.py
  users/form.py
  users/models.py
  users/views.py
  utils/string.py
Labels: PR: unreviewed

#2720 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2721 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2737 Bump version
  l2-frontend/yarn.lock
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2738 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2741 fix consolidate. Delete style
  context_processors/utils.py
  ecp_integration/integration.py
  l2-frontend/src/mainWithRouter.ts
  laboratory/settings.py
  results/views.py
  statistic/report/consolidates.py
Labels: PR: unreviewed

#2742 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr

#2746 fix-ы
  api/parse_file/views.py
  ecp_integration/integration.py
Labels: PR: unreviewed

#2714 Загрузка вредных факторов + мед. осмотры
  api/models.py
  api/parse_file/views.py
  api/urls.py
  api/views.py
  contracts/admin.py
  contracts/models.py
  contracts/sql_func.py
  l2-frontend/src/construct/ConstructCompany.vue
  l2-frontend/src/ui-cards/LoadFile.vue
Labels: PR: reviewed-changes-requested

#2747 Bump version
  laboratory/__init__.py
  pyproject.toml
Labels: PR: unreviewed, automated pr
